.log-in-content {
    min-height: 100vh;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 16px;

    flex: 1;

    p {
        margin: 0;
    }

    a {
        cursor: pointer;
        color: var(--primary-color);
    }

    &__register {
        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}
