.log-in-content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 16px;

    p {
        margin: 0;
    }

    &__register {
        text-align: center;

        button {
            cursor: pointer;
            background-color: transparent;
            color: var(--primary-color);
            border: none;
            font-size: 16px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}
