.home-view {
    display: flex;
    flex-direction: column;

    &__content {
        min-height: 100vh;

        max-width: 680px;
        margin: 12px auto;

        display: flex;
        flex-direction: column;
        gap: 16px;

        flex: 1;

        &__headline {
            margin: 0;
        }

        &__item {
            border-radius: 6px;
            padding: 12px;
            cursor: pointer;

            min-width: 300px;
            color: white;
            background-color: #52ab98;

            font-family: 'Source Sans Pro', sans-serif;

            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        }
    }
}
