.contact {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__title {
        font-weight: bold;
    }

    &__wrapper {
        display: flex;
        justify-content: left;

        &__phone {
            display: flex;
            align-items: center;
            gap: 8px;

            cursor: pointer;

            &__text {
                border-bottom: 1px grey dotted;
            }
        }

        &__mail {
            display: flex;
            align-items: center;
            gap: 8px;

            cursor: pointer;

            &__text {
                border-bottom: 1px grey dotted;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
