.contact {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__title {
        font-weight: bold;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 8px;

        cursor: pointer;

        &__text {
            border-bottom: 1px grey dotted;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
