.gym-home-view {
    min-height: 100vh;

    &__content {
        padding-bottom: 8px;
        max-width: 680px;
        margin: 0 auto;
    }

    .ps-sidebar-root {
        z-index: 102 !important;
        border-left: none !important;
        border-right: none !important;
    }
}
