.gym-home-view {
    min-height: 100vh;

    &__content {
        max-width: 680px;
        margin: 0 auto;
        padding: 0 16px 8px 16px;
    }

    .ps-sidebar-root {
        z-index: 102 !important;
        border-left: none !important;
        border-right: none !important;
    }
}
