.home-header {
    margin: 12px auto;

    gap: 12px;

    max-width: 600px;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    &__headline {
        text-align: center;
        margin: 0 0 10px 0;
    }
}
