.home-header {
    margin: 12px auto;
    width: 60%;

    gap: 12px;

    display: flex;
    flex-direction: column;

    align-items: center;

    &__headline {
        text-align: center;
        margin: 0 0 10px 0;
    }
}
