.opening-times {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__title {
        font-weight: bold;
    }

    &__day {
        display: flex;
        justify-content: space-between;

        &__weekday {
        }

        &__time {
        }
    }
}
