.opening-times {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__title {
        font-weight: bold;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;

        padding: 12px 32px;
        border-radius: 6px;
        background-color: #e6e6e6;
        color: #222838;

        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }

    &__day {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        &__weekday {
        }

        &__time {
        }
    }
}
