.left-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__home {
        display: flex;
        flex-direction: column;
    }

    &__divider {
        border-bottom: 2px solid var(--text-color);
        margin: 6px 0;
    }

    &__headline {
        color: var(--text-color);
        font-size: 85%;
        margin: 3px 0;
        padding-left: 10px;
    }

    &__gyms {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-button {
            background-color: transparent;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: grey;
            border-radius: 20px;
            background-clip: padding-box;
            border: solid 3px transparent;
        }
    }

    &__utils {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
