.gym-header {
    display: flex;
    flex-direction: column;
    gap: 6px;

    h1,
    p,
    b {
        margin: 0;
    }

    h1 {
        font-size: xxx-large;
    }

    b {
        font-size: large;
    }

    &__social-media {
        display: flex;
        gap: 8px;
    }
}
