.sidebar{
  width: 270px;
  height: 100%;
  border-right: 1px solid rgb(242, 242, 247);
  flex-shrink: 0;

  background-color: var(--secondary-background-color);

  display: flex;
  flex-direction: column;
  gap: 6px;

  &__logo{
    font-weight: bold;
    font-size: 24px;
  }
}
