.carousel {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__wrapper {
        overflow: hidden;
        height: 400px;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        gap: 24px;
    }
}

.use-spring-carousel-main-wrapper {
    height: calc(100% - 5px) !important;
    left: 5px;
}
