.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
    }

    &__profile {
        height: 30px;
        width: 30px;
    }

    &__popover {
        &__item {
            margin: 6px 0;
            cursor: pointer;

            &__logout {
                color: red;
            }
        }
    }
}
