.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            height: 40px;
        }

        p {
            font-weight: bold;
            font-size: 26px;
            margin: 0;
        }
    }

    &__profile {
        height: 30px;
        width: 30px;
    }

    &__popover {
        &__item {
            margin: 6px 0;
            cursor: pointer;

            &__logout {
                color: red;
            }
        }
    }
}
