.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            height: 40px;
        }

        p {
            font-weight: bold;
            font-size: 26px;
            margin: 0;
            color: white;
        }
    }

    &__left {
        display: flex;
        gap: 12px;

        &__profile {
            height: 30px;
            width: 30px;
            margin: auto;
        }
    }

    &__popover {
        &__item {
            cursor: pointer;
            padding: 2px 12px;

            &__logout {
                cursor: pointer;
                padding: 2px 12px;
                color: red;
            }

            &:not(:last-child) {
                border-bottom: 1px #776f6f59 solid;
            }
        }
    }
}

.ant-popover-arrow::before {
    background-color: var(--background-color-secondary) !important;
}

.ant-popover-inner {
    background-color: var(--background-color-secondary) !important;
    padding: 12px 0 !important;
}

.ant-popover-inner-content {
    color: var(--text-color) !important;
}
