.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    .split-view,
    .split-view-view {
        overflow: visible !important;
    }

    .sash {
        opacity: 0;
    }

    &__content {
        flex: 1 1 auto;
        background-color: #474d19;

        &__left-wrapper {
            margin-top: 10px;
            padding: 0 10px;
            height: 100%;
        }

        &__right-wrapper {
            background-color: var(--background-color);
            border-left: 1px solid rgba(0, 0, 0, 0.15);
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            border-top-left-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 16px;
            height: calc(100% - 25px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 12px;

            &--mobile {
                border-radius: 0;
            }

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-button {
                background-color: transparent;
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: grey;
                border-radius: 20px;
                background-clip: padding-box;
                border: solid 3px transparent;
            }
        }
    }

    &__header {
        flex: 0 0 auto;
        padding: 12px 22px;
        background-color: #474d19;
    }
}
