.app{
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  overflow: hidden;

  &__wrapper{
    display: flex;
    flex-direction: column;

    &__content{
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
