.contact-card {
    display: flex;
    gap: 8px;
    align-items: center;

    border-radius: 6px;
    padding: 8px;
    cursor: pointer;

    min-width: 160px;
    max-width: 200px;

    background-color: #52ab98;
    color: white;

    font-family: 'Source Sans Pro', sans-serif;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

    &__icon {
    }

    &__wrapper {
        overflow: hidden;
        white-space: nowrap;

        &__headline {
            font-weight: lighter;
            font-size: small;
        }

        &__text {
            font-weight: bold;
            font-size: small;
            text-overflow: ellipsis;
        }
    }
}
