.image-carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        aspect-ratio: 16/9;
    }
}
