.location {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;

    &__map {
        width: 100%;
        aspect-ratio: 16/9;
    }

    &__address {
        position: absolute;
        background-color: #f0f0f095;
        bottom: 5px;
        left: 5px;
        border-radius: 6px;
        padding: 3px;
    }
}
