.card {
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;

    min-width: 300px;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

    &__head {
        &__title {
            text-align: left;
            font-weight: bold;
            font-size: 25px;
        }

        &__price {
            text-align: right;
            font-weight: bold;
            font-size: 25px;
        }

        &__duration {
            text-align: left;
        }
    }

    &__details {
    }
}
