.loading-order-view {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__intro {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    &__setup-wizard {
        &__steps {
            display: flex;
            justify-content: center;
            margin: 18px 15vw;
        }

        &__step-info {
            display: flex;
            justify-content: center;
            margin: 18px;
        }
    }

    &__offers {
        display: flex;
        flex-direction: column;
        gap: 18px;

        &__offer {
            &__content {
                display: flex;
                flex-direction: column;
                gap: 18px;

                padding: 8px 12px;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
