.social-media {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;

    &__wrapper {
        display: flex;
        gap: 4px;
        cursor: pointer;

        &__icon {
        }
        &__name {
        }
    }
}
