.search {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
}

.ant-popover-arrow::before {
    background-color: var(--background-color-secondary) !important;
}

.ant-popover-inner {
    background-color: var(--background-color-secondary) !important;
    padding: 12px !important;
}

.ant-popover-inner-content {
    color: var(--text-color) !important;
}
